@tailwind base;
@tailwind components;
@tailwind utilities;

@import './component-styles.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.completed {
  color: green;
}

.incomplete {
  color: red;
}

.marker {
  width: 20px;
  height: 20px;
  color: white;
  background-color: green;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.delete {
  width: 20px;
  height: 20px;
  color: white;
  background-color: red;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}